.LocalHangouts{
position:fixed;
height:50px;
width:100%;
background-color:black;
font-family: Broadway;
}

.FindWhereToGo{
position:fixed;
top:25%;
left:35%;
height:50px;
width:30%;
}

.bubble1{
position:fixed;
top:25%;
left:35%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:blue;
z-index:4;
}

.bubble2{
position:fixed;
top:25%;
left:39%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:yellow;
z-index:4;
}

.bubble3{
position:fixed;
top:25%;
left:43%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:green;
z-index:4;
}

.bubble4{
position:fixed;
top:25%;
left:47%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:red;
z-index:4;
}

.bubble5{
position:fixed;
top:25%;
left:51%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:orange;
z-index:4;
}

.bubble6{
position:fixed;
top:25%;
left:55%;
height:50px;
width:50px;
border-radius:100%;
opacity:0.4;
background-color:purple;
z-index:4;
}

.magnifyingGlass{
position:fixed;
top:25%;
left:20%;
height:50px;
width:100px;
background-color:black;


}
